/* ========home page style======== */

.home-banner {
    padding: 36px 0px 0px 0px;
}

.home-banner img {
    border-radius: 10px;
}

.section {
    padding: 40px 0px;
}

.section-title__center {
    position: relative;
    margin-bottom: 30px;
}

.section-title__center a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    color: #230C87;
    font-size: 15px;
    font-weight: 600;
}

.section-title__center a:hover {
    text-decoration: underline;
}

.section-title__center  h2 {
    font-size: 25px;
    font-weight: 400;
    color: #0B0D4C;
}

.wrap-best__sellers:hover .swiper-bt {
    opacity: 1;
    transform: scale(1);
}

.swiper-bt {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease;
}

.swiper-bt:hover {
    background-color: #0B0D4C;
}

.swiper-bt::after {
    content: none;
}

.swiper-button-prev {
    left: -22px;
}

.swiper-button-next {
    right: -22px;
}

.wrap-best__sellers {
    padding: 16px 20px;
    background: linear-gradient(80.45deg, #1B2C5A 0%, #4674EC 100%);
    border-radius: 16px;
    position: relative;
}

.section-title__justify {
    margin-bottom: 28px;
}

.section-title__justify span {
    font-size: 21px; 
    font-weight: 400;
    position: relative;
}

.section-title__justify span::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #230C87;
    height: 6px;
    border-radius: 6px;
}

.section-title__justify a {
    color: #230C87;
    font-size: 15px;
    font-weight: 600;
}

.section-title__justify a:hover {
    text-decoration: underline;
}

.product__item {
    width: 100%;
    box-shadow: 0px 5px 25px -26px #000000;
    background-color: #fff;
    border-radius: 20px;
    min-height: 376px;
    height: auto;

    align-self: stretch;
    position: relative;
}

.p-persent {
    position: absolute;
    z-index: 2;
    background-color: #FF9A00;
    border-radius: 30px;
    padding: 2px 9px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    top: 14px;
    left: 14px;
}

.product__type {
    top: 0px;
    left: 0px;
    width: 80px;
    z-index: 2;
}

.product__type img {
    max-width: 80px;
}

.product__item .__thumb {
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__item .__thumb img {
    max-width: 100%;
    object-fit: cover;
}

.product__item-text {
    padding: 0px 16px 10px;
}

.product__item-text .__title {
    font-size: 14px;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.product__price {
    column-gap: 19px;
    align-items: flex-end;
}

.product__price span.old {
    font-size: 13px;
    color: #F71B1B;
    text-decoration: line-through;
    line-height: 1.1;
}

.product__price span.new {
    color: #FF9A00;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
}

.product__item-text .__desc {
    font-size: 13.3px;
    margin-bottom: 6px;
}

.product__item-text .__desc  span {
    font-weight: 700;
    color: #FF9A00;
}

.product__item-text .free-bt {
    background: linear-gradient(180deg, #FF9A00 0%, #FFE800 0.01%, #FF9A00 100%);
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
}

.product__item-text .__note {
    font-size: 11px;
    margin-top: 6px;
}

.cate__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 0px;
}

.cate__list li {
    max-width: 125px;
    text-align: center;
}

.cate__list li  img {
    margin: 0 auto;
}

.cate__list li span {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #565759;
    padding-top: 15px;
}

.wrap__product-list {
    display: flex; 
    align-items: stretch;
    justify-content: space-between;

    overflow: auto;
    column-gap: 13px;
    padding-bottom: 10px;
}

.wrap__product-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee;
}

.wrap__product-list::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ccc;
}   

.wrap__product-list .product__item {
    width: calc(100%/5 - 11px);
    min-width: 260px;
}

.h-about__img img {
    width: 545px;
    object-fit: cover;
    margin: 0 auto;
    max-width: 90%;
}

.h-about__text {
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.h-about__text h2 {
    font-size: 32px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 1rem;
}

.h-about__text p {
    font-size: 15px;
    margin-bottom: 16px;
}

.transport__block {
    column-gap: 30px;
    max-width: 260px;
}

.transport__block .__text {
    flex: 1;
    font-size: 15px;
}

.transport__block .__text h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #0B0D4C;
    font-size: 15px;
}

.transport__block p {
    font-size: 12px;
    color: #292929;
}

.home-sl__item img {
    border-radius: 10px;
}

.home-banner-sl .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    background-color: transparent;
    opacity: 1;
}

.home-banner-sl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}

.wrap__content-login {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-family:  Arial;
    padding: 22px 26px;
}

.under__login-box {
    width: 350px;
    margin: 0 auto;
}

.under__login-box h5 {
    position: relative;
    text-align: center;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.under__login-box h5 span {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 16px;
    background-color: #F7F7F7;
}

.under__login-box h5::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E7E7E7;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.create-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #F7F8FA 0%, #E7E9EC 100%);
    box-shadow: 0px 1px 0px 0px #FFFFFF99 inset;
    height: 34px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    border: 1px solid #ccc;
    margin-top: 3px;
}

.login-box h2 {
    font-size: 28px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 18px;
}

.login-box .form-label {
    font-weight: 700;
    margin-bottom: 4px;
    color: #111111;
    font-size: 13px;
}

.login-box .form-control {
    height: 34px;
    border: 1px solid #E77600;
    box-shadow: 0px 0px 3px 2px #E4791180;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.continue-bt {
    width: 100%;
    background: linear-gradient(180deg, #F7DFA5 0%, #F0C14B 100%);
    box-shadow: 0px 1px 0px 0px #FFFFFF66 inset;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    display: block;
}

.login-box p {
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

.login-box p a {
    color: #0066C0;
}

.login-box p a:hover {
    text-decoration: underline;
}

.help-login {
    display: inline-flex;
    margin-top: 24px;
    font-size: 13px;
    font-weight: 400;
    color: #0066C0;
    align-items: center;
    column-gap: 2px;
}

.help-login:hover {
    text-decoration: underline;
}

/*---- start responsive for content all page ----*/
@media only screen and (max-width: 1200px) {

}
/* end breakponit 1200px */

@media only screen and (max-width: 1024px) {
    
}
/* end breakpoint 1024px */

@media only screen and (max-width:  768px) {
    .section.h-about-us {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    .h-about__text h2 {
        font-size: 26px;
    }
    .transport__block {
        max-width: 400px;
    }
}
/* end breakpoint 768px */

@media only screen and (max-width: 479px) {
    .wrap-best__sellers {
        padding: 16px;
    }
    .login-box,
    .under__login-box {
        width: 90%;
    }
    .login-box {
        padding: 22px 20px;
    }
}
/* end breakpoint 479px */

@media only screen and (max-width: 360px) {
    
}
/* end breakpoint 360px */